[options]
    UseSyslog

[openSSH]
    sequence    = {{ open_port_sequence | join(",") }}
    tcpflags    = {{ open_tcp_flags | join(",") }}
    seq_timeout = {{ sequence_timeout }}
    command     = {{ open_command }}

[closeSSH]
    sequence    = {{ close_port_sequence | join(",") }}
    tcpflags    = {{ close_tcp_flags | join(",") }}
    seq_timeout = {{ sequence_timeout }}
    command     = {{ close_command }}
