[options]
    UseSyslog

[openSSH]
    sequence    = {{ open_port_sequence | join(",") }}
    tcpflags    = {{ open_tcp_flags | join(",") }}
    seq_timeout = {{ sequence_timeout }}
    command     = /bin/knockd_open %IP%

[closeSSH]
    sequence    = {{ close_port_sequence | join(",") }}
    tcpflags    = {{ close_tcp_flags | join(",") }}
    seq_timeout = {{ sequence_timeout }}
    command     = /bin/knockd_close %IP%
